<footer class="footer fixed">
  <p>
    Copyright &copy; 2015-16 <%= utm_link_to 'Wossname Industries', 'https://woss.name/' %>. All rights reserved.
    <%= link_to 'Privacy Policy', '/privacy-policy/' %> |
    <%= link_to 'Terms of Service', '/terms-of-service/' %>
  </p>
</footer>
