<section id="welcome" class="features navy-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Welcome to The Happiness Project</h1>

        <p class="lead">
          Let's leave introductions till a bit later and jump straight in. The
          Happiness Project's goal is to give you a tool that you can use to
          improve your happiness. My feeling is there there are tonnes of
          different ways in which you <em>could</em> improve your happiness,
          but that only some of them are going to work for you, personally.
        </p>

        <p class="lead">
          The best way to figure out whether something is going to work is to
          try it out. But I'd like to apply a little scientific rigour to these
          things, which is where we get to the first aspect of the Happiness
          Project: a platform for performing experiments upon yourself. In
          order to perform these experiments, we're going to need to collect
          some appropriate data to measure progress on the experiment, which
          brings us to the second component: a platform to collect contextual
          measurements. And finally, to determine the success of an experiment
          &ndash; are we happier? &ndash; we need to have some way of measuring
          happiness.
        </p>

        <p class="lead">
          So that's it in a nutshell. Please do read on for a little more
          detail, and definitely do sign up to be kept informed of progress
          towards this lofty goal!
        </p>

        <p>
          <a href="#mailing-list" class="btn btn-lg btn-default">
            <%= fa :envelope %>
            Sign up!
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
