---
title: "I'm sorry, but something has gone wrong!"
layout: middle-box
---
<h1>Sorry!</h1>
<h3 class="font-bold">
  Something has gone a bit wrong!
</h3>

<div class="error-desc">
  <p>
    Well, something has gone a bit awry. Either you've followed a link to a
    page that no longer exists, or I've just pushed a bad build of the web
    site, or (unlikely, I know) Amazon is having a bit of trouble. You've got a
    few choices:
  </p>

  <ul>
    <li>
      <p>
        You could head back to the <%= link_to 'home page', '/' %> and see if
        you can find what you're looking for from there.
      </p>
    </li>

    <li>
      <p>
        You could click on the speech bubble at the bottom right hand corner,
        and send me a message.
      </p>
    </li>

    <li>
      <p>
        Or you could give up and try again another day!
      </p>
    </li>
  </ul>
</div>
