---
layout: landing-page
sitemap_priority: 1.0
---
<% content_for :navbar do %>
  <li><%= link_to 'Home', '', fragment: 'page-top', class: 'page-scroll' %></li>
<% end %>

<section id="welcome" class="features navy-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Welcome</h1>

        <p class="lead">
          This would be a good time to figure out some content for the new web
          site you've just started.
        </p>
      </div>
    </div>
  </div>
</section>

<%= partial 'landing-page/contact' %>
