---
title: Privacy Policy
layout: main
---
<div class="text-center article-title">
  <h1>Privacy Policy</h1>
</div>

<p class="lead">
  At some point, I should make the effort to find a suitable privacy policy,
  but in the meantime I thought I'd be clear on what my intentions are. If
  you've got any questions about what data I'm collecting, and what I'm doing
  with it, please do feel free to ask!
</p>

<p>There are three aspects that occur to me right now:</p>

<ul>
  <li>
    <p>
      Any personal information I collect from you &ndash; including, but
      not limited to names, email addresses, questionnaire answers, and
      personal emails &ndash; will only be used by Wossname Industries
      for the express purpose of providing you with whatever service
      we're offering you. In particular, I will <strong>not</strong> pass
      on any personally identifiable information (e.g. your name and/or
      email address) to any third parties without your express
      permission.
    </p>
  </li>

  <li>
    <p>
      I may aggregate information collected across a cohort of users, and share
      that aggregate data with others. I'll only do so if I've got a good
      business reason for it. (For example, if I'm talking to a podcast network
      about partnering up, I may share the number of subscribers in order to
      demonstrate that there's an audience for it! Or perhaps I'm talking to an
      investor about helping me to fund growth in The Happiness Project, and I
      want to show the improvement in happiness that existing users have
      achieved.)
    </p>
  </li>

  <li>
    <p>
      I do use a number of third party services to run the business, and your
      data is stored with some of them. In particular, right now, I'm using
      <%= link_to 'Intercom', 'https://www.intercom.io/' %> for handling email,
      <%= link_to 'Mailchimp', 'http://eepurl.com/bOLGs1' %> for mailing lists,
      and <%= link_to 'Typeform', 'http://ssqt.co/EjgT' %> for questionnaires.
      I'm pretty confident that they're not going to do anything evil with your
      data and I'm pretty careful about having strong passwords, and two-factor
      authentication enabled, so my accounts should be secure enough.
    </p>
  </li>
</ul>

<p>
  That's pretty much all I've got to say on privacy right now! If you've
  got any questions at all, please feel free to get in touch. You can
  send me a message by clicking the wee chat bubble in the bottom right
  hand corner (that's Intercom at work!), or by sending me an email, to
  <%= mail_to_link subject: 'I have a question about privacy' %>.
</p>
