---
title: Terms of Service
layout: main
---
<div class="text-center article-title">
  <h1>Terms of Service</h1>
</div>

<p class="lead">
  I really haven't thought through what a terms of service ought to look
  like yet, and I probably ought not to be worrying about it just yet.
</p>

<p>
  As a stopgap measure, please realise that it's just one person (Graeme)
  who's behind all this. I'm doing my best, but I do have other
  commitments, other projects, and a life. I like to have a balance
  across all these things! So what I really mean to say is that service
  is offered on a best-effort basis. If there's anything particularly
  time-critical, or you'd be upset if the service went offline, you
  really want to talk to me about it!
</p>

<p>
  Does that make sense? If not, shoot me an email, to
  <%= mail_to_link subject: 'I have a question about Terms of Service' %>,
  and we can talk it through.
</p>
