<div class="item active">
  <div class="container">
    <div class="carousel-caption">
      <h1>
        Performing<br>
        Experiments
      </h1>

      <p>
        Let's try new things out<br>
        and measure the results<br>
        to see what makes us happier.
      </p>

      <p>
        <a class="btn btn-lg btn-primary" href="#experiments" role="button">Read more</a>
      </p>
    </div>
  </div>

  <!-- Set background for slide in css -->
  <div class="header-back one"></div>
</div>
