<div class="item">
  <div class="container">
    <div class="carousel-caption">
      <h1>
        Quantifying<br>
        Happiness
      </h1>

      <p>
        How can we know the outcomes<br>
        of our experiments if we can't<br>
        find a way to measure happiness?
      </p>

      <p>
        <a class="btn btn-lg btn-primary" href="#measuring-happiness" role="button">Read more</a>
      </p>
    </div>
  </div>

  <div class="header-back three"></div>
</div>
